<footer class="site-footer">

  <div class="container">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="row">
      <div class="col-sm-3">
        <ul class="contact-list list-unstyled">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <ul class="social-media-list list-unstyled">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <i class="fa fa-github"></i>
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fa fa-twitter"></i>
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="col-sm-7">
        <p class="text">{{ site.description }}</p>
        <p class="text">The website uses some cookies. If you don't accept it, leave.</p>
      </div>
    </div>

  </div>

</footer>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
