body { padding-top: 70px; }

img.profile {
    width: 256px;
    max-width: 33%;
    height: auto;
    float: right;
}

.post-share {
    ul {
        list-style: none;
    }
    li {
        display: inline-block;
    }
}
