---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <form action="https://tinyletter.com/16nsk" method="post" target="popupwindow"
    onsubmit="window.open('https://tinyletter.com/16nsk', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <p>
      <label for="tlemail"><strong>Subscribe to my newsletter: &nbsp;</strong></label>
      <input type="text" name="email" id="tlemail" /> &nbsp;
      <input type="hidden" value="1" name="embed" />
      <input type="submit" value="Subscribe" />
    </p>
  </form>

  <p>I promise that only new articles notifications or short letters on the topics will be sent.</p>
  <p>Absolutly no promotions or advertising besides any resource I will personally publish or make available.</p>

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Latest articles" }}</h2>
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>